<div class="center jumbotron">
  <h1 class='display-3'>Use Shortcut</h1>

  <p class='lead'>
  ショートカットを使えば素早くかっこよく作業ができます。<br>
  楽しくショートカットを練習しましょう！
  </p>
</div>

  <%= link_to 'テキスト操作', text_path %>
