<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/text">テキスト操作</a></li>
    <li class="breadcrumb-item"><a href="/text_mac">Mac</a></li>
    <li class="breadcrumb-item active" aria-current="page">タイムアタックモード</li>
  </ol>
</nav>

<div class="center">  
  <div id="time">00:00:00</div>

  <div id='text_mac_test' class='main'>
    <button class='key btn btn-success btn-lg' type='button'>クリックしてスタート！</button>
  </div>
<div>