<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/text">テキスト操作</a></li>
    <li class="breadcrumb-item active" aria-current="page">Windows</li>
  </ol>
</nav>

<div class="center jumbotron bg-white">
  <h1 class='display-5'>Windowsテキスト操作</h1>

  <p>
    パソコン操作に欠かせないテキスト操作についてのショートカット
  </p>
</div>

<div class="card-deck center">
  <%= link_to text_win_practice_path, class: "card bg-light" do%>
  <div class="card-body">
      <h4 class="card-title">練習モード</h4>
      <p class="card-text">答え付きでショートカットを練習できます。</p>
  </div>
  <% end %>

  <%= link_to text_win_test_path, class: "card bg-light" do%>
  <div class="card-body">
    <h4 class="card-title">タイムアタックモード</h4>
    <p class="card-text">答えなしでタイムアタックに挑戦！</p>
  </div>
  <% end %>
</div>
