<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/text">テキスト操作</a></li>
    <li class="breadcrumb-item"><a href="/text_mac">Mac</a></li>
    <li class="breadcrumb-item active" aria-current="page">タイムアタックモード</li>
  </ol>
</nav>

<div id='text_mac_test' class='main'>
  <h1 class='key'>画面をクリックしてスタート！</h1>
</div>

<div id="time">00:00:00</div>