@import "bootstrap-sprockets";
@import "bootstrap";

// 共通

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}