<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/vscode">Visual Studio Code</a></li>
    <li class="breadcrumb-item"><a href="/vscode_mac">Mac</a></li>
    <li class="breadcrumb-item active" aria-current="page">練習モード</li>
  </ol>
</nav>

<div class="center">  
  <div id="time">00:00:00</div>

  <div id='vscode_mac_practice' class='main'>
    <button class='key btn btn-success btn-lg' type='button'>クリックしてスタート！</button>
  </div>
<div>
